@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, p, ul, button, input[type="text"] {
    margin: 0;
    padding: 0; }

h1, h2, h3, h4, h5, h6 {
    font-size: 100%; }

ul {
    list-style: none; }

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit; }

img {
    vertical-align: top; }

img, video {
    max-width: 100%; }

button {
    border: none;
    background: none;
    cursor: pointer; }

input[type="text"] {
    border: 1px solid #aaa;
    border-radius: 0; }

button, input {
    font-family: inherit;
    font-size: inherit;
    color: inherit; }

address {
    font-style: normal; }

header, nav, section, footer {
    display: block; }


body {
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    color: #000;
    line-height: 1;
    font-weight: 400;
    word-break: keep-all;
    letter-spacing: -0.035em; }

#skip a {
    position: absolute;
    top: 0;
    left: -9999px;
    z-index: 1000; }
#skip a:focus {
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #000;
    font-weight: 700;
    background: #ffb566;
    text-align: center; }


body{
    background-color: hsl(180, 52%, 96%);
}
body *{
    box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Spartan:wght@500;700&display=swap");

body {
    font-family: "Spartan", sans-serif;
}

header {
    height: 150px;
    background: hsl(180, 29%, 50%) url("images/bg-header-desktop.svg") center/cover;
}

main {
    width: 100%;
    /* padding: 25px 1.5em 1em; */
    min-height: calc(100vh - 150px);
    background: hsl(180, 52%, 96%);
}

.job-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3.125rem;
}

.job-list.filtering {
    padding-top: 0rem;
}

.job-list .job {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1000px;
    margin-bottom: 2.5rem;
    padding: 1.875rem 1.25rem;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 5px 30px 10px hsl(180, 29%, 50%, 0.2);
}

.job-list .job.featured {
    border-left: 5px solid hsl(180, 29%, 50%);
}

.profile {
    display: flex;
    align-items: center;
}
.profile img {
    width: 4.375rem;
    height: 4.375rem;
    margin-right: 1.25rem;
}

.profile .contents {
}

.profile .contents .top {
    display: flex;
    align-items: center;
}
.profile .contents .top .company {
    margin-right: 1rem;
    color: hsl(180, 29%, 50%);
    font-size: 1rem;
    font-weight: 700;
}
.profile .contents .top .new {
    margin-right: 0.4rem;
    padding: 0.375rem 0.5rem;
    color: #fff;
    font-size: 0.625rem;
    font-weight: 700;
    border-radius: 14px;
    background: hsl(180, 29%, 50%);
    /* text-transform: uppercase; */
}
.profile .contents .top .feature {
    display: inline-block;
    padding: 0.375rem 0.5rem;
    color: #fff;
    font-size: 0.625rem;
    font-weight: 700;
    border-radius: 14px;
    background-color: hsl(180, 14%, 20%);
    text-transform: uppercase;
}

.profile .contents a.position {
    display: inline-block;
    margin: 0.75rem 0rem;
    color: hsl(180, 14%, 20%);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.1s ease;
}
.profile .contents a.position:hover {
    color: hsl(180, 29%, 50%);
}

.profile .contents .bottom {
    display: flex;
}
.profile .contents .bottom li {
    position: relative;
    margin-right: 1.875rem;
    color: hsl(180, 8%, 52%);
    font-size: 0.75rem;
    font-weight: 700;
    list-style: disc;
}
.profile .contents .bottom li:first-child {
    list-style: none;
}

.skills {
    display: flex;
    gap: 1rem;
}
.skills button {
    /* margin-left: 1rem; */
    padding: 0.5rem 0.625rem;
    color: hsl(180, 29%, 50%);
    font-size: 0.8rem;
    font-weight: 700;
    border-radius: 2px;
    background: hsl(180, 31%, 95%);
    cursor: pointer;
    transition: 0.2s ease;
}
.skills button:first-child {
    /* margin-left: 0px; */
}
.skills button:hover {
    color: hsl(180, 52%, 96%);
    background: hsl(180, 29%, 50%);
}

/* filter */
.filter {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 1rem;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 30px 10px hsl(180, 29%, 50%, 0.2);
    bottom: 2rem;
    /* display: none; */
}
.filter .items {
    display: flex;
    flex-wrap: wrap;
}
.filter .items .item {
    display: flex;
    height: 30px;
    margin-right: 1rem;
    background: hsl(180, 52%, 96%);
    border-radius: 5px;
    overflow: hidden;
}
.filter .items .item span {
    padding: 0.5rem;
    color: hsl(180, 29%, 50%);
    font-size: 1rem;
    font-weight: 700;
}
.filter .items .item button {
    width: 30px;
    text-align: center;
    background: hsl(180, 29%, 50%);
    cursor: pointer;
    transition: 0.2s ease;
}
.filter .items .item button img {
    vertical-align: middle;
}
.filter .items .item button:hover {
    background: hsl(180, 14%, 20%);
}
.filter .clear {
    color: hsl(180, 8%, 52%);
    font-size: 1rem;
    font-weight: 700;
    line-height: 30px;
    cursor: pointer;
}
.filter .clear:hover {
    color: hsl(180, 29%, 50%);
    text-decoration: underline;
}

.hidden {
    display: none;
}

@media (max-width: 945px) {
    .job-list .job {
        flex-direction: column;
        align-items: flex-start;
    }

    .job-list .job .profile {
        width: 100%;
        align-items: flex-start;
        flex-direction: column;
        margin-top: -62px;
        border-bottom: 1px solid hsl(180, 8%, 52%);
        padding-bottom: 15px;
    }

    .skills {
        width: 100%;
        flex-wrap: wrap;
        margin-top: 15px;
    }

    .profile img {
        width: 60px;
        height: 60px;
    }

    .profile .contents .top {
        padding-top: 15px;
    }
}
